@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$fontFamily: Roboto, sans-serif;
$fontSize: 16px;
$fontColor: rgba(0, 0, 0, .87);
$fontLineHeight: 1,5;

$borderRadius: 4px;

$backgroundColor: rgba(255, 255, 255);


$backgroundRowColor: rgba(255, 255, 255);
$backgroundRowColorHover: rgba(240, 240, 240);
