.el-field {
  width: 100%;
  &__item {
    width: 100%;
    font-size: 14px;
  }
  .v-text-field {
    margin-top: -3.5px;
  }
}
::v-deep {
  .v-input__append-inner {
    margin-top: -2px !important;
    cursor: pointer;
  }
  .v-input__append-outer {
    margin-top: -0px;
    margin-left: -3px;
  }
}