$tooltip-padding: 0px 0px;
$tooltip-border-radius: 4px !important;
$tooltip-background-color: rgba(255, 255, 255, 1) !important;
$tooltip-text-color: rgba(0, 0, 0, 1) !important;
// $tooltip-background-color: lemonchiffon !important;
$tooltip-transition-enter-duration: 0ms !important;
$tooltip-transition-leave-duration: 0ms !important;
