// $tooltip-transition-enter-duration: 50ms;
// $tooltip-transition-leave-duration: 50ms;
$tooltip-padding: 6px 6px;
$tooltip-border-radius: 2 !important;
// $tooltip-font-size: 0.75rem ;
$tooltip-text-color: rgba(0, 0, 0, 1) !important;
$tooltip-background-color: lemonchiffon !important;
$tooltip-transition-enter-duration: 0ms !important;
$tooltip-transition-leave-duration: 0ms !important;
