@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

//  -------- primary --------
//  -- fonts
$fontFamily: Roboto, sans-serif;
$fontSize: 16px;
$fontColor: rgba(0, 0, 0, .87);
$fontLineHeight: 1.5;

//  -- scroll props
$scrollWidth: 8px;
$scrollHeight: 8px;
$scrollBorderRadius: 4px;

$scrollThumbBorderRadius: 3px;
$scrollThumbBackgroundColor: rgba(0,0,0,0.2);

//  -- border component
$borderRadius: 4px;
$boxShadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

//  -- tooltip component --
$tooltipFontSize: .875rem;
$tooltipFontColor: rgba(0, 0, 0, .87);
//  ---------------------------


// -- head --
$headRowHeight: 56px;
$headRowBorder: thin solid rgba(0,0,0,.12);
$headRowBackgroundColor: rgba(255, 255, 255);

$headFontSize: .875rem;
$headFontWeight: bold;
$headFontLineHeight: $fontLineHeight;
$headFontColor: rgba(0, 0, 0, .6);
$headPaddingTB: 6px;
$headPaddingLR: 10px;

$headHorizontalAlign: flex-start;
$headVerticalAlign: center;

// -- head dense --
$headDenseRowHeight: 32px;
$headDensePaddingTB: 0px;
$headDensePaddingLR: 6px;

// -- head auto --
$headAutoRowHeight: auto;
$headAutoPaddingTB: 6px;
$headAutoPaddingLR: 10px;


//  -- body --
$bodyRowHeight: 43px;
$bodyRowBorder: thin solid rgba(0,0,0,.12);
$bodyRowBackgroundColor: rgba(255, 255, 255);
$bodyRowBackgroundColorHover: rgba(242, 242, 242);

$bodyRowBorderFocus: thin solid #1867c0;// rgba(0, 0, 255, .4);
$bodyCellBorderFocus: thin solid #1867c0;// rgba(0, 0, 255, .4);

$bodyFontSize: .875rem;
$bodyFontWeight: normal;
$bodyFontLineHeight: $fontLineHeight;
$bodyFontColor: rgba(0, 0, 0, .87);
$bodyPaddingTB: 6px;
$bodyPaddingLR: 10px;

$bodyHorizontalAlign: flex-start;
$bodyVerticalAlign: flex-start;

// -- body dense --
$bodyDenseRowHeight: 22px;
$bodyDensePaddingTB: 0px;
$bodyDensePaddingLR: 6px;

// -- body auto --
$bodyAutoRowHeight: auto;
$bodyAutoPaddingTB: 0px;
$bodyAutoPaddingLR: 10px;
